@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import 'static.scss';
@import 'bookappoinment.scss';
@import 'sidebar.scss';
@import 'profile.scss';
@import 'details.scss';
@import 'appoinmetns.scss';
@import 'slots.scss';
@import 'appoinmentsTable.scss';





*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}