#appoinmentsTable {
    width: 100%;
    margin-top: 20px;

    >main {
        display: flex;
        align-items: center;
        width: 50%;
        justify-content: space-between;

        >p {
            font-size: 15px;
        }

        >input {
            border: none;
            border: 1px solid rgb(209, 209, 209);
            border-radius: 5px;
            padding: 10px 10px;
            font-size: 15px;
        }

        >button {
            background-color: $blue;
            color: white;
            border: none;
            padding: 8px 40px;
            border-radius: 50px;

            &:hover {
                cursor: pointer;
                background-color: rgb(136, 161, 184);
            }
        }
    }

    >section {
        width: 100%;
        border: 1px solid rgb(202, 202, 202);
        border-radius: 3px;
        margin-top: 15px;

        >:nth-child(1) {
            >table {
                width: 100%;
                border-bottom: 1px solid rgb(202, 202, 202);
                padding:15px 10px;
                color: $blue;
                font-size: 13px;

                >thead {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    >td {
                        width: 12.5%;
                    }
                }
            }

        }

        >:nth-child(2) {
            width: 100%;
            height: 70%;
            font-size: 13px;
            font-weight: 600;

            >table {
                width: 100%;

                >tr {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    >td {
                        padding: 5px 10px;
                        color: $blue;
                        border-bottom: 1px solid rgb(202, 202, 202);
                        width: 12.5%;
                        overflow-x: auto;
                    }
                }
            }
        }
    }

}