#profile {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;

    >div {
        width: 100%;
        // height: 10%;
        display: flex;
        justify-content: space-between;

        >div {
            display: flex;
            align-items: center;
            border: 1px solid gray;
            border-radius: 50px;
            padding: 5px 10px;
            gap: 5px;
            width: 60%;

            >svg {
                color: gray;
            }

            >input {
                border: none;
                width: 100%;
                outline: none;
            }
        }

        >button {
            border-radius: 50px;
            border: none;
            background-color: $blue;
            padding: 5px 30px;
            color: white;
        }
    }

    >main {
        width: 100%;
        height: 60%;
        border: 1px solid rgb(202, 202, 202);
        border-radius: 5px;

        >:nth-child(1) {
            >table {
                width: 100%;
                border-bottom: 1px solid rgb(202, 202, 202);
                padding: 10px 10px;
                color: $blue;
                font-size: 13px;
                >thead {
                    width: 100%;

                    >td {
                        width: 50%;
                    }
                }
            }

        }

        >:nth-child(2) {
            width: 100%;
            height: 70%;
            overflow: scroll;
            font-size: 13px;
            font-weight: 600;

            >table {
                width: 100%;

                >tr {
                    width: 100%;

                    >td {
                        padding: 5px 10px;
                        color: $blue;
                        border-bottom: 1px solid rgb(202, 202, 202);
                        width: 50%;
                    }
                }
            }
        }

        >:nth-child(3) {
            >table {
                width: 100%;
                padding: 10px 10px;
                color: $blue;

                >tfoot {
                    width: 100%;

                    >td {
                        width: 50%;
                        font-size: 15px;
                    }

                    >:nth-child(2) {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                        color: black;


                        >svg {
                            cursor: pointer;
                        }
                    }
                }
            }

        }
    }

    >section {
        >h2 {
            color: $blue;
            font-size: 15px;
        }

        >div {
            display: flex;
            width: 100%;
            padding-top: 20px;

            >:nth-child(1){

                width: 30%;
                display: flex;
                flex-direction: column;
                align-items: center;
                >div{
                    height: 50px;
                    width: 50px;
                    >img{
                        height: 100%;
                        width: 100%;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
                >p{
                    color: gray;
                    font-size: 13px;
                }  
            }
            >:nth-child(2){
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-left: 10px;
                >P{
                    font-size: 13px;
                    color: gray;
                }
            }

        }
    }
}